@font-face {
	font-family: 'Adwaita Mono';
	src: url('AdwaitaMono-Regular.ttf')
}

html {
	height: 95%;
	margin: 0;
	padding: 0;
}

body {
	border: 1px solid #ececec;
	padding: 1rem;
	background-color: #131313;
	color: #ececec;
	font-family: 'Adwaita Mono';
	width: 100%;
	height: 100%;
	margin: auto;
	margin-top: 20px;
	display: flex;
	max-width: 800px;
	box-sizing: border-box;
	flex-direction: column;
}

titlediv {
	justify-content: center;
	margin: auto;
	text-align: center;
	background-color: #ececec;
	color: #131313;
	padding-block: 2px;
	line-height: 1rem;
	width: 100%;
}

main {
	flex: 1;
	height: 100%;
	padding: 1rem;
}

footer {
	width: 100%;
	background-color: #ececec;
	line-height: 1.25rem;
	color: #131313;
	padding-block: 2px;
	text-align: center;
}

linklist {
	display: flex;
	flex-direction: column;

	a { 
		background-color: #ececec;
		color: #131313;
		padding: 5px;
		margin-block: 5px;
		width: fit-content;
		text-decoration: none;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		transition: 0.3s;
	}

	a:hover {
		filter: invert(1);
	}
}
